<!-- <div *ngIf="isLogged">
 
  <dx-data-grid
    [dataSource]="users"
    [allowColumnReordering]="true"
    [allowColumnResizing]="true"
    [columnAutoWidth]="true"
    [hoverStateEnabled]="true"
    [showBorders]="true"
    [rowAlternationEnabled]="true"
    (onRowInserted)="addUser($event)"
  >
  <dxo-filter-row [visible]="true"></dxo-filter-row>
  <dxo-search-panel [visible]="true"></dxo-search-panel>
    <dxi-column dataField="id" [visible]="false"></dxi-column>
    <dxi-column dataField="username"></dxi-column>
    <dxi-column dataField="name"></dxi-column>
    <dxi-column dataField="surname"></dxi-column>
    <dxi-column dataField="birthDate" dataType="date"></dxi-column>
    <dxi-column dataField="email"></dxi-column>
    <dxi-column dataField="password" [visible]="false"></dxi-column>
    <dxo-editing mode="form" [allowAdding]="true" [allowUpdating]="true" [allowDeleting]="true" [useIcons]="true">

    </dxo-editing>
  </dx-data-grid>
</div> -->



<div style="display: flex;">
  <!-- SELECT DEVICE -->
  <div class="dx-fieldset">
    <div class="dx-field">
      <div class="dx-field-label">Devices</div>
      <div class="dx-field-value">
        <dx-select-box [dataSource]="allDevicesNames" [value]="deviceNameSelected"></dx-select-box>
      </div>
    </div> 
  </div>

  <!-- SELECT ACTIVITIES -->
  <div class="dx-fieldset">
    <div class="dx-field">
      <div class="dx-field-label">Activities</div>
      <div class="dx-field-value">
        <dx-select-box [dataSource]="allActivitiesNames" [value]="activityNameSelected"></dx-select-box>
      </div>
    </div>
  </div>

</div>




