<dx-button font-size="30" text="←" [routerLink]="['/home', { fromActivityDetail: true }]"></dx-button>

<!-- GRAFICO ACTIVITY CONTENT -->
<div id="chart-demo">
  <dx-chart title="Activity Contents"
            [dataSource]="service.activityContents">
    <dxi-series valueField="pulseRate" name="pulseRate" type="spline"></dxi-series>
    <dxo-common-axis-settings>
      <dxo-grid [visible]="true"></dxo-grid>
    </dxo-common-axis-settings>
    <dxo-common-series-settings #seriesSettings
                                argumentField="time"
                                [type]="types[0]">
    </dxo-common-series-settings>
    <dxo-margin [bottom]="20"></dxo-margin>
    <dxo-argument-axis [valueMarginsEnabled]="false" discreteAxisDivisionMode="crossLabels" ArgumentScaleType="Date">
      <dxo-grid [visible]="true"></dxo-grid>
    </dxo-argument-axis>
    <!--<dxo-value-axis ></dxo-value-axis>-->
    <dxo-export [enabled]="true"></dxo-export>
    <dxo-legend verticalAlignment="bottom" horizontalAlignment="center"></dxo-legend>
    <dxo-tooltip [enabled]="true"></dxo-tooltip>
  </dx-chart>

  <div *ngIf="service.activityContents.length > 0">
    <h4>Position: {{getFirstPosition()}} </h4>
  </div>
</div>
